
@layer keyframes {
    @keyframes slideIn {
      0% {
        transform: translateY(-50px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
  
    @keyframes scaleIn {
      0% {
        transform: scale(0);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  
  .number-animation {
    animation: slideIn 1s ease-out, scaleIn 1s ease-out;
  }
  